/* Max Width 1400px
------------------------------------------------- */

@media screen and (max-width: 1300px) {

	.menu-dd17 .subnav li {
		font-size: 1em;
	}
	
	.menu-dd17-data .filters{
		font-size: 0.8571428571428571em;
	}

	.menu-dd17-data .thead .th {
		font-size: 11px;
		padding: 7px 1%;
	}
	
	.menu-dd17-data .thead .th .filter-by{
		right: 4px;
	}

	.menu-dd17-data .tbody .tr .th {
		font-size: 0.8571428571428571em;
	}

	.menu-dd17-data .tbody .td {
		font-size: 11px;
	}

}

/* Max Width 1200px
------------------------------------------------- */

@media screen and (max-width: 1200px) {

	.menu-dd17 .subnav li {
		font-size: 0.8571428571428571em;
	}

	.menu-dd17 a.menu-footer-close {
		font-size: 0.8571428571428571em;
	}

	.menu-dd17 .compare-buttons {
    bottom: -40px;
	}

}

/* Min Width 1023px
------------------------------------------------- */

@media screen and (min-width: 1023px) {

	.mobile-menu-dd17 {
		display: none;
	}
    
    .mobile-header, .mobile-nav-back, .mobile-nav-top-level-search, .mobile-nav-filter, .js-accordion-panel .spec-value .spec, .td.arrow-link, .mobile-nav-top-level, .mobile-menu-filter, .panels-container .menu-dd17-data .thead .th:nth-child(2) {
        display:none !important;
    }
    
    .js-accordion-panel {
        display: flex;
        flex-direction: row;
        width:100%;
    }
    
    .menu-dd17-data .tbody .js-accordion-panel .tr {
        background: #f6f6f6;
    }
    
    .menu-dd17-data .tbody .js-accordion-panel .tr:nth-child(even){
        background: #fff;
    }
    
    .menu-dd17-data .tbody .td {
        width: 100% !important;
    }
    
    .menu-dd17-data .tbody .spec-value {
        display:block !important;
        margin: 0px;
        padding: 0px;
        width: 100%;
        cursor: pointer;
        transition: opacity 0.2s ease;
    }
    
    .menu-dd17-data .tbody .td {
        padding: 1.5em 7.598465% !important;
    }

}

/* Max Width 1023px
------------------------------------------------- */

@media screen and (max-width: 1023px) {
	body {
		margin-top: 65px;
	}
	.mobile-menu-dd17-data .tbody .td a.more {
		display: none;
	}
	
/* Commenting out to code mobile 
	.main-nav-dropdown{
		display: none !important;
	}
*/
	
	.index-menu-fade-alt {
		padding: 0 !important;
        height: auto !important;
	}

	.index-summary header {
        display: none !important;
	}

	.vcenter {
		position: relative;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
	}

	.mobile-menu-dd17 {
		font-family: 'MyWebfont', sans-serif;
		line-height: 1;
		text-align: left;
	}

	.mobile-menu-dd17 * {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	.mobile-menu-dd17 * ol, ul {
		list-style: none;
	}

	/* Mobile Header */

	.mobile-header {
		/*background: #002b45;
		padding: 0 15px;
		height: 65px;*/
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 65px;
/*		width: 100%;*/
		z-index: 1;
		padding: 0 10px;
	}

	.mobile-header-logo {
		float: left;
	}

	.mobile-header-logo a {
		display: block;
	}

	.mobile-header-btn {
		color: #fff;
		float: right;
		font-family: FontAwesome;
		font-size: 2em; /* 28px/14px */
		cursor: pointer;
	}

	/* Mobile Nav Top Level */

	.mobile-nav-top-level-wrapper {
		background: #002b45;
		overflow: auto;
		display: none;
		position: fixed;
		z-index: 100;
	}

	.mobile-nav-top-level {
		/*padding: 0;*/
		list-style: none;
		font-size: 0.8571428571428571em; /* 12px/14px */
        height: 512px;
		padding: 2.083333333333333em 0 0; /* 25px/12px */
	}

	.mobile-nav-top-level li a {
		color: #fff;
        display: block;
		font-weight: 300;
        padding: 1.25em; /* 15px/12px */
        text-align: left;
	}

	.mobile-nav-top-level-search {
        bottom: 0;
        display:table;
        padding: 25px 20px;
        position: absolute;
	}

	.mobile-nav-top-level-search .row {
        display: table-row;
	}

	.mobile-nav-top-level-search .col {
        display: table-cell;
	}

	.mobile-nav-top-level-search .col.full {
        width: 100%;
	}

	.mobile-nav-top-level-search label {
        position: absolute;
        left: -10000px;
        top: auto;
	}

	.mobile-nav-top-level-search input[type="text"] {
		border: none;
		font-size: 0.9285714285714286em; /* 13px/14px */
		height: 40px;
		outline: 0;
		padding: 0 1.153846153846154em; /* 15px/13px */
		width: 100%;
		background: #fff;
		color: #8e8e8e;
		font-family: 'MyWebfont', sans-serif;
		border-radius: 5px 0 0 5px;
	}

	.mobile-nav-top-level-search button[type="submit"] {
		padding: 0 0.7142857142857143em; /* 10px/14px */
		height: 40px;
		color: #33888a;
		background-color: #fff;
		font-size: 1em;
		border-radius: 0 5px 5px 0;
		border: 0;
	}

	/* Mobile Nav Level 2 */

	.mobile-nav-level-2 {
		background: #002b45;
		position: absolute;
		left: -103%;
		z-index: 101;
		width: 100%;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-2.open {
		left: 0;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	}

	.mobile-nav-back, .mobile-nav-filter {
		margin: 0 0 0 1.363636363636364em; /* 20px/11px | 15px/11px */
		font-size: 0.7857142857142857em; /* 11px/14px */
		color: #fff;
		text-transform: uppercase;
	}

	.mobile-nav-back::before {
		font-family: FontAwesome;
		content: "\f104";
		margin-right: 0.6363636363636364em; /* 7px/11px */
	}
    
    .mobile-nav-filter::after {
		font-family: FontAwesome;
		content: "\f105";
		margin-left: 0.6363636363636364em; /* 7px/11px */
    }
        
    .mobile-menu-clear, .mobile-menu-done {
        color: #fff;
        display: inline-block;
		font-size: 0.7857142857142857em; /* 11px/14px */
		text-transform: uppercase;
    }
    
    .mobile-menu-clear {
        margin: 1.818181818181818em 0 1.818181818181818em 1.363636363636364em; /* 20px/11px | 15px/11px */
    }
    
    .mobile-menu-done {
        float: right;
        margin: 1.818181818181818em 1.363636363636364em 1.818181818181818em 0;
    }
    
/*
    	.mobile-nav-level-2 {
		background: #002b45;
		position: absolute;
		left: -103%;
		z-index: 101;
		width: 100%;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	}

	.mobile-nav-level-2.open {
		left: 0;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	}
*/

	.mobile-menu-dd17 .subnav li a {
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(255, 255, 255);
		color: rgba(255, 255, 255, 1);
		line-height: 2em; /* 24px/12px */
		font-size: 0.8571428571428571em; /* 12px/14px */
		padding: 1.25em 0 1.25em 1.666666666666667em; /* 15px/12px | 20px/12px */
		display: block;
		border-bottom: 1px solid #33556a;
	}

	.mobile-menu-dd17 .subnav li a span {
		display: block;
		padding-left: 2.916666666666667em; /* 40px/12px */
	}

	.mobile-menu-dd17 .subnav-lasers span {
		background: url('/assets/site_images/icon-lasers.png') no-repeat top left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-lasers:hover span {
		background: url('/assets/site_images/icon-lasers.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-components span {
		background: url('/assets/site_images/icon-components.png') no-repeat top left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-components:hover span {
		background: url('/assets/site_images/icon-components.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-laser-measurement span {
		background: url('/assets/site_images/icon-laser-measurement.png') no-repeat top left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-laser-measurement:hover span {
		background: url('/assets/site_images/icon-laser-measurement.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-tools-systems span {
		background: url('/assets/site_images/icon-tools-systems.png') no-repeat top left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-tools-systems:hover span {
		background: url('/assets/site_images/icon-tools-systems.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav li a:hover {
		color: rgb(255, 255, 255);
		color: rgba(255, 255, 255, 1);
	}

	/* Mobile Nav Level 3 */

	.mobile-nav-level-3 {
		background: #002b45;
		position: absolute;
		left: -103%;
		z-index: 103;
		width: 100%;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-3.open {
		left: 0;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	}

	.mobile-menu-dd17-data {
		width: 100%;
        position: relative;
	}

	.mobile-menu-dd17-data .thead .tr {
		width: 100%;
	}

	.mobile-menu-dd17-data .thead .th, .mobile-menu-filter .th {
        background: #002b45;
        color: #fff;
        font-size: 0.8571428571428571em; /* 12px/14px */
        font-weight: 600;
        padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
        float: left;
        text-align: center;
/*		width: 25%;*/
	}
    
    .mobile-menu-filter .th.col_6 {
        width: 100%;
        padding: 0;
    }

	.mobile-menu-dd17-data .thead .th:first-child {
		width: 60%;
		text-align: left;
	}

	.mobile-menu-dd17-data .thead .th:last-child {
		width: 35%; /*15%*/
		text-align: right; /*center*/
	}

	.mobile-menu-dd17-data .thead .th a {
		color: #fff;
		text-decoration: none;
	}

	.menu-dd17-data .thead .th a::after {
		font-family: FontAwesome;
		color: #33888a;
		padding-left: 0.8333333333333333em; /* 10px/12px */
	}

	.mobile-menu-dd17-data .thead .th a[data-sort="desc"]::after {
		content: "\f0d7";
	}

	.mobile-menu-dd17-data .thead .th a[data-sort="asc"]::after {
		content: "\f0d8";
	}

	.mobile-menu-dd17-data .tbody {
        overflow-y: scroll;
        width: 100%;
		background: #002b45;
	}

	.mobile-menu-dd17-data .tbody .tr.header {
		background: #002b45;
        color: #fff;
        border-top: 1px solid #33556a;
		cursor: pointer;
		position: relative;
	}
    
    .menu-dd17-data .tbody .tr.group .js-accordion-panel {
        display:none;
        clear: both;
    }
    
    .js-accordion-panel .spec-value .spec {
        width: 50%;
    }

	.mobile-menu-dd17-data .tbody .tr.header .th {
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
	}

	.mobile-menu-dd17-data .tbody .tr.header .th::before, .mobile-menu-filter .js-accordion-control .th::before, .menu-dd17-data .tbody .tr.group .th:first-child:before
    {
		font-family: FontAwesome;
		content: "\f055";
		margin-right: 0.8333333333333333em;
		color: #33888a;
		float: left;
	}

	.mobile-menu-dd17-data .tbody .tr.header .th.open::before, .mobile-menu-dd17-data .mobile-menu-filter .th.open::before {
		content: "\f056";
		color: #fff;
	}

	.mobile-menu-dd17-data .tbody .tr.header .th span span{
		display: block;
        overflow: hidden;
	}

	.mobile-menu-dd17-data .tbody .tr.header .td {
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
		text-align: center;
	}
    
    .mobile-menu-filter .js-accordion .tr-wrapper .tr.header{
        border-bottom: 1px solid #33556a;
    }
    
    .mobile-menu-dd17-data .filter-by-box {
        max-height:300px;
        overflow-y: auto;
    }
    
    .mobile-menu-filter .js-accordion-panel .filter-options .filter-option:before {
        content: "\f0c8";
        font-family: "FontAwesome";
        margin-right: 5px;
    }

	.mobile-menu-dd17-data .tbody .tr, .mobile-menu-filter .filter-option {
        background: #f6f6f6;
        padding: 8px;
        width: 100%;
	}

	.mobile-menu-dd17-data .tbody .tr:nth-child(even), .mobile-menu-filter .filter-option:nth-child(even) {
        background: #fff;
	}

	.mobile-menu-dd17-data .tbody .tr .th {
		font-size: 0.8571428571428571em; /* 12px/14px */
		font-weight: 600;
		padding: 0.5833333333333333em 1.25em; /* 7px/12px | 15px/12px */
		width: 60%;
		float: left;
		text-align: left;
	}

	.mobile-menu-dd17-data .tbody .td {
		font-size: 0.8571428571428571em; /* 12px/14px */
		padding: 0.5833333333333333em 1.25em; /* 7px/12px | 15px/12px */
		width: 25%;
		font-weight: 300;
		float: left;
		text-align: left;
	}

	.mobile-menu-dd17-data .tbody .td.arrow-link {
		width: 15%;
		height: 100%;
        position: absolute;
		right: 0;
		background: #33888a;
		padding: 0 !important;
	}

	.mobile-menu-dd17-data .tbody .td.arrow-link a{
		color: #fff;
		display: block;
		height: 100%;
	}

	.mobile-menu-dd17-data .tbody .td input[type=checkbox] {
		display:none; /* Hide Checkbox */
	}

	.mobile-menu-dd17-data .tbody .td label span {
        position: absolute;
        left: -10000px;
        top: auto;
	}

	.mobile-menu-dd17-data .tbody .td input[type=checkbox] + label:before {
		font-family: FontAwesome;
		display: inline-block;
		content: "\f096";
		color: #33888a;
	}

	.mobile-menu-dd17-data .tbody .td input[type=checkbox]:checked + label:before {
		content: "\f14a"; /* Checked Icon */
	}

	/* Mobile Nav Level 4 */

	.mobile-nav-level-4 {
		background: #002b45;
		position: absolute;
		left: -103%;
		z-index: 104;
		width: 100%;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-4.open {
		left: 0;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	}

	.mobile-nav-level-4-sub-nav {
		background: #fff;
	}

	.mobile-nav-level-4-sub-nav li {
		border-bottom: 1px solid #d7d7d7;
	}

	.mobile-nav-level-4-sub-nav li a {
		display: block;
	}

	.mobile-nav-level-4-sub-nav li a img {
		display: inline-block;
        vertical-align: middle;
        max-width: 130px;
	}

	.mobile-nav-level-4-sub-nav li a span {
		display: inline-block;
        font-size: 0.8571428571428571em; /* 12px/14px */
        font-weight: 600;
        color: #000;
        vertical-align: middle;
	}

	/* Mobile Nav Level 5 */

	.mobile-nav-level-5 {
		background: #002b45;
		position: absolute;
		left: -103%;
		z-index: 105;
		width: 100%;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-5.open {
		left: 0;
		-webkit-transition: left 1s ease;
		-moz-transition: left 1s ease;
		-o-transition: left 1s ease;
		transition: left 1s ease;
	}

	.mobile-menu-dd17-data .thead.thead-v2 .th {
		width: 100%;
        text-align: left;
	}

	.mobile-menu-dd17-data .tbody.tbody-v2 .tr.header .th {
		width: 100%;
	}

		/* Menu Footer
	------------------------------------------------- */

	.menu-footer {
		background: #002b45;
	}

	/* Compare Buttons */

	.mobile-menu-dd17 .compare-buttons {
		float: right;
		margin: 7px 7px 7px 0;
	}

	.mobile-menu-dd17 .compare-buttons a {
		display: inline-block;
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
		font-size: 0.8571428571428571em; /* 12px/14px */
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
	}

	.mobile-menu-dd17 .compare-buttons a:hover {
		-webkit-box-shadow:inset 0px 0px 0px 2px #4d6b7d;
		-moz-box-shadow:inset 0px 0px 0px 2px #4d6b7d;
		box-shadow:inset 0px 0px 0px 2px #4d6b7d;
	}

		/* Headroom
	------------------------------------------------- */

	.headroom--pinned {
		transform: translateY(0);
		background: #002b45;
	}

	.headroom {
		transition: all .5s ease-in-out;
		will-change: transform;
	}

	.headroom--unpinned {
		transform: translateY(-100%);
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0);
	}

	.headroom--top {
		background:  #002b45;
	}

	.header-bg-color.headroom--top {
		background: #002b45;
	}

	.headroom--not-top {
		background: #002b45;
	}

	.headroom-open {
		background: #002b45;
	}
    
    /* Filter */
    .mobile-nav-filter.js-mobile-filter {
        float: right;
        margin: 0 1.363636363636364em 1.818181818181818em 0;
    }

    .mobile-menu-filter {
        background-color: #002b44;
        height:100vh;
        overflow-y: scroll;
        position:absolute;
        left:106%;
        top:0;
        transition: left 1s;
        -webkit-transition: left 1s;
        width: 75%;
        -webkit-box-shadow: -8px 4px 18px 12px rgba(0,0,0,0.47);
        -moz-box-shadow: -8px 4px 18px 12px rgba(0,0,0,0.47);
        box-shadow: -8px 4px 18px 12px rgba(0,0,0,0.47);
        z-index: 200;
    }
    
    .mobile-menu-filter-0 {
        z-index: 200;
        display:none;
    }    
    .mobile-menu-filter-1 {
        z-index:201;
        display:none;
    }    
    .mobile-menu-filter-2 {
        z-index:202;
        display:none;
    }    
    .mobile-menu-filter-3 {
        z-index:203;
        display:none;
    }    
    .sub-mobile-menu-filter-0 {
        z-index:204;
        display:none;
    }    
    .sub-mobile-menu-filter-1 {
        z-index:205;
        display:none;
    }    
    .sub-mobile-menu-filter-2 {
        z-index:206;
        display:none;
    }    
    .sub-mobile-menu-filter-3 {
        z-index:207;
        display:none;
    }

    .mobile-menu-filter-title {
        border-bottom: 1px solid #33556a;
        color: white;
        font-size: 20px;
        font-weight: 100;
        padding: 20px;
        text-align: center;
    }

    .mobile-menu-filter .js-accordion-panel .filter-by-box .filter-option {
        border-bottom: 1px solid #d9d9d9;
        color: black;
        font-size: 0.8571428571428571em;
        font-weight: 600;
        padding: 0.5833333333333333em 1.25em;
        text-align: left;
        width: 100%;
    }
    
    .mobile-menu-dd17 .filtering {
        opacity: 0.2;
    }
    
    .mobile-menu-filter .filter-options .filter-option.active:before{
	   content: "\f14a";
    }
    
    /* Desktop to Mobile */
    .menu-dd17 .panel .nav-html-row {
        display:none;
    }
    
    .menu-dd17{
        background-color: #002b45 !important;
    }
    
    .menu-dd17 .subnav li {
        margin-left: 0;
        padding:1.25em 0 1.25em 1.666666666666667em;
    }
    
    .panels-container {
/*        background-color: #002b45;*/
/*        position:absolute;*/
        height: 100vh;
        left: 100%;
        position: relative;
        transition: left 1s;
        -webkit-transition: left 1s;
        width: 100%;
    }
    
    .subnav-lvl3 {
        left: 0;
        position: absolute;
        transition: left 1s;
        -webkit-transition: left 1s;
    }
    
    ul.subnav-lvl3.group {
        flex-direction: column;
    }
    
    ul.subnav.group {
        background-color: #002b45;
        display: flex;
        flex-direction: column;
        text-align: left;
        width:100%;
    }
    
    .menu-dd17-data {
        background: #002b45;
        height: 100vh;
        left:100%;
        position:absolute;
        top: 0;
        transition: left: 1s;
        -webkit-transition: left 1s;
        width: 100%;
    }
    
    .menu-dd17-data .thead .th .sort:hover, .menu-dd17-data .thead .th[data-sorted-by='1'] .sort {
        background: transparent;
    }
    
    ul.subnav-lvl3.group li {
        border-bottom: 1px solid #d7d7d7;
    }
    
    li {
        border-bottom: 1px solid #33556a;
    }
    
    li .active {
        color:
    }
    
    .menu-dd17 .subnav li a {
        color:white;
    }
    
/*
    .menu-dd17 .dd-active .subnav-laser-measurement {
        background: none; 
    }
    
*/
    .nav-lasers.main-nav-dropdown.menu-dd17 {
        top: 65px !important;
    }
    
    .menu-dd17.nav-lasers, .menu-dd17.nav-components {
        text-align: left;
    }
    
    .menu-footer {
        display: none !important;
    }
    
    .menu-dd17 .subnav li a {
        line-height: 2em;
        font-size: 0.8571428571428571em;
        padding-left: 2.916666666666667em;
    }
    
    .menu-dd17 .subnav .subnav-link {
        background-size: 20px;
    }
    
    a.mobile-nav-filter {
        float:right;
        margin-right:15px;
        padding-top: 2px;
    }

    .menu-dd17 .subnav-lvl3 li a:hover, .menu-dd17 .subnav-lvl3 li a:dd-active {
        border: 0 !important;
        background: white !important;
    }
    
    .menu-dd17 .subnav-lvl3 li {
        margin: 0;
    }
    
    .menu-dd17-data .thead .th.col_8, .menu-dd17-data .thead .th.col_7, .menu-dd17-data .thead .th.col_6, .menu-dd17-data .thead .th.col_5, .menu-dd17-data .thead .th.col_4 {
        width: 100%;
    }
    
    .menu-dd17-data .thead .th:first-child {
        text-align: left;
    }
    
    .menu-dd17-data .thead .th {
        background: none;
        border-right:none;
        color:white;
        text-align:right;
        width: 30%;
    }
    
    .menu-dd17-data .thead .th:last-child{
        text-align: right;
    }
    
    .menu-dd17-data .tbody .td {
        padding: 0;
    }
    
    .menu-dd17-data .tbody .js-accordion-panel .td {
        font-size: 12px;
    }
    
    .menu-dd17-data .tbody .td a {
        color: white;
        margin: 0 auto;
        margin-top: 7px;
        vertical-align: middle;
    }
    
    .dd-active .menu-dd17-data .tbody {
        background: #002b45;
    }
    
    .menu-dd17-data .thead .th[data-sorted-by="1"] > span::after{
        color: #33888a;
    }
    
    .td.arrow-link {
        background-color: #33888a;
        padding: 7px 0 !important;
        width: 18%;
    }
    
    .menu-dd17-data .tbody .tr.group {
        display:block;
    }
    
    .menu-dd17-data .tbody .tr .th.col_8, .menu-dd17-data .tbody .tr .th.col_7, .menu-dd17-data .tbody .tr .th.col_6, .menu-dd17-data .tbody .tr .th.col_5, .menu-dd17-data .tbody .tr .th.col_4{
        background: #002b45;
        color: #fff;
        padding: 0 0 0 15px;
    }
    
    .menu-dd17-data .tbody .tr .col_8.accordion-title::before, .menu-dd17-data .tbody .tr .col_7.accordion-title::before, .menu-dd17-data .tbody .tr .col_6.accordion-title::before, .menu-dd17-data .tbody .tr .col_5.accordion-title::before, .menu-dd17-data .tbody .tr .col_4.accordion-title::before,  {
        font-family: FontAwesome;
        content: "\f055";
        margin-right: 0.8333333333333333em;
        color: #33888a;
        float: left;
    }
    
    .menu-dd17 .subnav-lvl3 li a {
        border: 0px;
        font-weight: 600;
        height: 85.95px;
        padding: 0px;
        text-align:left;
    }

    .menu-dd17-data .tr.group .js-accordion-panel .tr.group .td {
        width: 25%;
    }
    .menu-dd17-data .tr.group .js-accordion-panel .tr.group {
        width: 100%;
    }
    
    .menu-dd17-data .tr.group .js-accordion-panel .tr.group .th {
        width: 60%;
        color: black;
    }
    
    .menu-dd17-data .tbody .tr .th {
        padding: 0.5833333333333333em 1.25em;
    }
    
    .menu-dd17-data .tbody .tr.group .js-accordion-panel .tr.group {
        background: #f6f6f6 !important;
        border-top: 1px solid #33556a;
    }
    
    .menu-dd17-data .tr.group .js-accordion-panel .tr.group:nth-child(even) {
        background: #fff !important;
    }
    
    .menu-dd17 .subnav-lvl3 .subnav-img {
        float: left;
    }
    
    .menu-dd17 .subnav-lvl3 li a .subnav-title {
        color: #000;
        display: inline-block;
        font-size: 12px;
        font-weight: 600;
        position:relative;
        top:42%;
        vertical-align: middle;
    }
    
    .menu-dd17-data .thead .th .filter-by .filter-by-button {
        display: none;
    }
    
    .menu-dd17-data .tbody .tr.group:nth-child(1) {
        border-top: 1px solid #33556a;
    }
    
    .menu-dd17-data .tbody .td.col_8, 
    .menu-dd17-data .tbody .td.col_7, 
    .menu-dd17-data .tbody .td.col_6, 
    .menu-dd17-data .tbody .td.col_5, 
    .menu-dd17-data .tbody .td.col_4 {
        width: 50%;
    }
    
    .menu-dd17-data .tbody .tr .th.col_8, 
    .menu-dd17-data .tbody .tr .th.col_7, 
    .menu-dd17-data .tbody .tr .th.col_6, 
    .menu-dd17-data .tbody .tr .th.col_5, 
    .menu-dd17-data .tbody .tr .th.col_4 {
        width: 100%;
    }    
    
    .menu-dd17-data .tbody .tr .th.col_8:last-child, 
    .menu-dd17-data .tbody .tr .th.col_7:last-child, 
    .menu-dd17-data .tbody .tr .th.col_6:last-child, 
    .menu-dd17-data .tbody .tr .th.col_5:last-child, 
    .menu-dd17-data .tbody .tr .th.col_4:last-child {
        border-bottom: 1px solid #33556a;
    }
    
    .menu-dd17-data .thead .th.col_8, 
    .menu-dd17-data .thead .th.col_7, 
    .menu-dd17-data .thead .th.col_6, 
    .menu-dd17-data .thead .th.col_5, 
    .menu-dd17-data .thead .th.col_4 {
        width: 65%;
        float: left;
    }
    
    .menu-dd17-data .th {
        border-right: 0px;
    }
    
    .menu-dd17 .fa-times {
        display:none;
    }
    
    .mobile-nav-top-level {
        margin: 0;
        padding: 0;
        position:absolute;
        width:100%;
    }
    
    .buttons {
        background: #002b45;
        padding-bottom: 1.818181818181818em;
        width: 100%;
    }
    
    .categories {
        background-color: #002b45;
        height: 100%;
        position: absolute;
        left: 100%;
        transition: left 1s;
        -webkit-transition: left 1s;
        width: 100%;
    }
    
    .mobile-open {
        left: 0;
    }
    
    .mobile-close {
        left: 100%;
    }
    
    .accordion-open {
        display: block;
    }
    
    .menu-dd17 .subnav-lvl3 li a:hover, .menu-dd17 .subnav-lvl3 li a.dd-active {
        background: #fff !important;
        border: none !important;
    }
    
    .panels-container .menu-dd17-data .thead .th:not(:first-of-type):nth-child(n+3) {
        display:none;
    }
    
    .menu-dd17-data .tr.group:not(:first-of-type) {
        border-top: 1px solid #33556a;
    }
    
    .spec-value:nth-child(even) {
        background: #fff;
    }
    
    .spec-value {
        background: #f6f6f6;
        display:flex;
        padding: 10px 15px;
    }
    
    .mobile-menu-buttons {
        border-bottom: 1px solid #33556a;
    }
    
    .mobile-menu-filter .js-accordion .js-accordion-panel {
        display:none;
    }
    
    .menu-dd17-data .tbody .tr:hover {
        background: none !important;
        transition: none !important;
    }
    
    /*.menu-dd17 .subnav-lasers:hover {
        background: url('/assets/site_images/icon-lasers.png') no-repeat bottom left;
        background-size: 32px; 
    }
    
    .menu-dd17 .subnav-components:hover, .menu-dd17 .dd-active .subnav-components{
        background: url('/assets/site_images/icon-components.png') no-repeat bottom left;
        background-size: 32px; 
    }

    .menu-dd17 .subnav-laser-measurement {
        background: url('/assets/site_images/icon-laser-measurement.png') no-repeat top left;
        background-size: 32px; 
    }

    .menu-dd17 .subnav-laser-measurement:hover, .menu-dd17 .dd-active .subnav-laser-measurement{
        background: url('/assets/site_images/icon-laser-measurement.png') no-repeat bottom left;
        background-size: 32px; 
    }

    .menu-dd17 .subnav-tools-systems {
        background: url('/assets/site_images/icon-tools-systems.png') no-repeat top left;
        background-size: 32px;
    }

    .menu-dd17 .subnav-tools-systems:hover, .menu-dd17 .dd-active .subnav-tools-systems{
        background: url('/assets/site_images/icon-tools-systems.png') no-repeat bottom left;
        background-size: 32px; 
    }

    .menu-dd17 .subnav li a:hover {
        color: rgba(255, 255, 255, 1);
    } */
    
    .menu-dd17-data .tbody .tr {
        background: none;
    }
    
    .menu-dd17-data .tbody .tr:nth-child(even) {
        background: none;
    }
    
    .filter-options {
        max-height: 300px;
        overflow-y: auto;
    }
    
    .menu-dd17-data .product_title {
        width: 100%;
    }
    
    .filter-option:not(:last-child), .spec-value:not(:last-child) {
        border-bottom: 1px solid #d9d9d9;
    }

}

@media screen and (max-width: 769px) {
    .nav-lasers.main-nav-dropdown.menu-dd17 {
        top: 65px !important;
    }
    
    .index-summary .xl-large-text {
        margin-top: 65px !important;
    }
}

/* Max Width 450px
------------------------------------------------- */
@media screen and (max-width: 450px) {
    .menu-dd17-data .thead .th {
        width: 28%;
    }
    
    .td.arrow-link {
        width: 38%
    }
	.mobile-menu-dd17-data .thead .th:last-child {
		width: 38%; /*15%*/
	}
}