/* Fonts
------------------------------------------------- */

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-light-webfont.eot');
    src: url('/fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-light-webfont.woff2') format('woff2'),
         url('../..fonts/opensans-light-webfont.woff') format('woff'),
         url('/fonts/opensans-light-webfont.ttf') format('truetype'),
         url('/fonts/opensans-light-webfont.svg#open_sanslight') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-lightitalic-webfont.eot');
    src: url('/fonts/opensans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans-lightitalic-webfont.woff') format('woff'),
         url('/fonts/opensans-lightitalic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-lightitalic-webfont.svg#open_sanslight_italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-regular-webfont.eot');
    src: url('/fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('/fonts/opensans-regular-webfont.woff') format('woff'),
         url('/fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('/fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-italic-webfont.eot');
    src: url('/fonts/opensans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-italic-webfont.woff2') format('woff2'),
         url('/fonts/opensans-italic-webfont.woff') format('woff'),
         url('/fonts/opensans-italic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-italic-webfont.svg#open_sansitalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-semibold-webfont.eot');
    src: url('/fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-semibold-webfont.woff2') format('woff2'),
         url('/fonts/opensans-semibold-webfont.woff') format('woff'),
         url('/fonts/opensans-semibold-webfont.ttf') format('truetype'),
         url('/fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('/fonts/opensans-semibolditalic-webfont.eot');
    src: url('/fonts/opensans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/fonts/opensans-semibolditalic-webfont.woff2') format('woff2'),
         url('/fonts/opensans-semibolditalic-webfont.woff') format('woff'),
         url('/fonts/opensans-semibolditalic-webfont.ttf') format('truetype'),
         url('/fonts/opensans-semibolditalic-webfont.svg#open_sanssemibold_italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

/* Clear
------------------------------------------------- */

.group::after {
	content: " ";
	display: table;
	clear: both;
}

/* Overwrites
------------------------------------------------- */

.nav-applications, .nav-company, .menu-dd17.nav-lasers, .nav-support {
    background-color: #012150;
    border: none;
    width: auto;
    padding: 0;
    position: absolute;
    z-index: 100;
    top: 120px !important;
    max-width: none;
    margin: 0 auto;
    left: 0;
    right: 0;
    text-align: center;
}

.menu-dd17.nav-lasers {
	height: 0;
    max-height: 9999px;
	overflow: hidden;
	-webkit-transition: height 0.4s ease-in-out;
    -moz-transition: height 0.4s ease-in-out;
    -ms-transition: height 0.4s ease-in-out;
    -o-transition: height 0.4s ease-in-out;
    transition: height 0.4s ease-in-out;
}

/*.menu-dd17.nav-lasers {
	height: 0;
	opacity: 0;
	transition: all .75s ease;
}
.menu-dd17.nav-lasers.show {
	height: 200px;
	opacity: 1;
}*/

/* Font Family
------------------------------------------------- */

.menu-dd17 {
	font-family: 'OpenSans', sans-serif;
	box-sizing: border-box;
	line-height: 1;
}

/* Main Nav
------------------------------------------------- */

/* For Temporary Nav */
nav .main-nav ul li span {
	border-radius: 25px;
    padding: 0.3125em 0.9375em;
}

nav .main-nav ul li:hover span,
nav .main-nav ul li.active span {
    color: #fff;
    background: #012150;
    transition: all 0.4s ease;
}

/* New Nav */

header.v2018{
	background: #ffffff;
	font-family: 'OpenSans', sans-serif;
	position: static !important;
    max-width: 100%;
    padding: 0px;
}

header.v2018 *{
	box-sizing: border-box;
}

header.v2018 .header-container{
	width: 100%;
	max-width: 1280px;
	margin: 0px auto;
	padding: 20px 0px 0px;
}

header.v2018 .header-container:after{
	content: "";
	display: table;
	clear: both;
}

header.v2018 .header-container .logo{
	float: left;
	width: 260px;
	padding: 10px 7px 0px 20px;
	position: static;
}

header.v2018 .header-container nav{
	float: right;
	width: calc(100% - 260px);
	padding-right: 20px;
	box-sizing: border-box;
	position: static;
    margin: 0px;
}

header.v2018 .header-container nav .top-nav{
	margin: 0px 0px 0px auto;
	width: 500px;
	text-align: right;
	padding-right: 10px;
}

header.v2018 .header-container nav .top-nav .language{
	display: inline-block;
	position: relative;
}

header.v2018 .header-container nav .top-nav .language .language-button{
	cursor: pointer;
	color: #b0b0b0;
	font-size: 14px;
}

header.v2018 .header-container nav .top-nav .language .language-button.active{
	cursor: default;
}

header.v2018 .header-container nav .top-nav .language .language-button img{
	display: inline-block;
	vertical-align: middle;
}

header.v2018 .header-container nav .top-nav .language .site-languages{
	display:none;
	position: absolute;
}

header.v2018 .header-container nav .top-nav .search-container{
	display: inline-block;
	position: relative;
}

header.v2018 .header-container nav .top-nav .search-container .search-activate-button{
	position: absolute;
	top:0px;
	left: 0px;
	right: 0px;
	bottom:0px;
	cursor: pointer;
}

header.v2018 .header-container nav .top-nav .search-container input{
	background: #ffffff;
	border: #ffffff 1px solid;
	width: 55px;
	color: #b0b0b0;
	transition: all .2s ease-out;
	outline: 0;
	padding: 0px 5px;
	font-size: 14px;
}

header.v2018 .header-container nav .top-nav .search-container input:focus{
	line-height: 20px;
    background: #ffffff;
    border: #a2a2a2 1px solid;
    width: 140px;
    outline: 0;
}

header.v2018 .header-container nav .top-nav .search-container input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #b0b0b0;
}
header.v2018 .header-container nav .top-nav .search-container input::-moz-placeholder { /* Firefox 19+ */
  color: #b0b0b0;
}
header.v2018 .header-container nav .top-nav .search-container input:-ms-input-placeholder { /* IE 10+ */
  color: #b0b0b0;
}
header.v2018 .header-container nav .top-nav .search-container input:-moz-placeholder { /* Firefox 18- */
  color: #b0b0b0;
}

header.v2018 .header-container nav .top-nav .search-container button{
	border: 0px;
	background: none;
	color: #b0b0b0;
	float: none;
    background: none !important;
    padding: 0px;
    margin: 0px 0px 0px 3px;
    width: 15px;
    height: 20px;
}

header.v2018 .header-container nav .main-nav{
	margin: 0px 0px 0px auto;
	text-align: right;
}

header.v2018 .header-container nav .main-nav ul{
	margin: 0px;
	padding: 0px;
	position: static;
}

header.v2018 .header-container nav .main-nav ul li {
   padding: 15px 0px 20px; /* Overwrite 5px/16px */
   display: inline-block;
   margin-right: 5px;
   float: none;
}

header.v2018 .header-container nav .main-nav ul li[data-menu] {
	cursor: pointer;
}

header.v2018 .header-container nav .main-nav ul li:last-child {
	margin-right: 0px;
}

header.v2018 .header-container nav .main-nav ul li a{
	font-size: 1rem;
	font-weight: 400;
	text-decoration: none;
	color: #000;
	padding: 0px 10px;
	display: block;
	line-height: 32px;
	border-radius: 16px;
}

header.v2018 .header-container nav .main-nav ul li a:hover{
	background: #012150;
	color: #ffffff;
}


header.v2018 .header-container nav .main-nav ul li span {
	font-size: 1em;
	font-weight: 400;
	text-decoration: none;
	color: #000;
	padding: 0px 10px;
	display: block;
	line-height: 32px;
	border-radius: 16px;
    /* padding: 0.3125em 0.9375em;  5px/16px | 15px/16px */
}

header.v2018 .header-container nav .main-nav ul li:hover span {
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
		background: #012150;
}

header.v2018 .header-container nav .main-nav ul li.active span {
    border-radius: 25px;
    color: #fff;
    text-decoration: none;
		background: #002b45;
}

/* Sub Nav
------------------------------------------------- */

.menu-dd17 .subnav {
	list-style: none;
	padding: 0;
	margin: 0;
	display: inline-block;
	vertical-align: middle;
}

.menu-dd17 .subnav li {
	float: left;
	padding: 15px 0;
	margin-left: 6em;
}

.menu-dd17 .subnav li:first-child {
	margin-left: 0;
}

.menu-dd17 .subnav li a {
	font-size: 20px;
	font-weight: 400;
	text-decoration: none;
	text-transform: uppercase;
	color: rgba(255, 255, 255, .5);
	display: inline-block;
	padding-left: 45px;
	line-height: 32px;
	transition: color 0.2s ease, font-weight 0.2s ease;
}

.menu-dd17 .subnav-lasers {
	background: url('/assets/site_images/icon-lasers.png') no-repeat top left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-lasers:hover, .menu-dd17 .dd-active .subnav-lasers{
	background: url('/assets/site_images/icon-lasers.png') no-repeat bottom left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-components {
	background: url('/assets/site_images/icon-components.png') no-repeat top left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-components:hover, .menu-dd17 .dd-active .subnav-components{
	background: url('/assets/site_images/icon-components.png') no-repeat bottom left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-laser-measurement {
	background: url('/assets/site_images/icon-laser-measurement.png') no-repeat top left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-laser-measurement:hover, .menu-dd17 .dd-active .subnav-laser-measurement{
	background: url('/assets/site_images/icon-laser-measurement.png') no-repeat bottom left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-tools-systems {
	background: url('/assets/site_images/icon-tools-systems.png') no-repeat top left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav-tools-systems:hover, .menu-dd17 .dd-active .subnav-tools-systems{
	background: url('/assets/site_images/icon-tools-systems.png') no-repeat bottom left;
	background-size: 32px; /* 36px/18px */
}

.menu-dd17 .subnav li a:hover,
.menu-dd17 .subnav li.dd-active a  {
	color: rgba(255, 255, 255, 1);
}

/* Panels Container
------------------------------------------------- */

.menu-dd17 .panels-container {
	position: relative;
}

/* Table Data
------------------------------------------------- */

.menu-dd17-data {
	width: 100%;
}

.menu-dd17-data .filters{
	border-bottom: 2px solid #33556a;
	text-align: left;
	width: 100%;
	color: #ffffff;
}

.menu-dd17-data .filters .filters-label{
	padding: 1.071428571428571em 01.59846547314578%;
	background: #33888a;
	display: inline-block;
}

.menu-dd17-data .filters .filter{
	display: inline-block;
	padding: 1.071428571428571em 01.59846547314578%;
}

.menu-dd17-data .filters .filter .filter-name{
	display: inline-block;
	text-transform: capitalize;
	margin-right: 15px;
}

.menu-dd17-data .filters .filter .filter-option{
	display: inline-block;
	margin-right: 15px;
	cursor: pointer;
}

.menu-dd17-data .filters .filter .filter-option:hover{
	color: #33888a;
}

.menu-dd17-data .filters .filter .filter-option:before{
	font-family: FontAwesome;
    display: inline-block;
    content: "\f096";
    letter-spacing: 10px;
    color: #ffffff;
}

.menu-dd17-data .filters .filter .filter-option.checked:before{
	content: "\f046";
    letter-spacing: 8px;
}

.menu-dd17-data .thead {
/*	padding-right: 16px;*/
}

.menu-dd17-data .thead .tr {
	width: 100%;
}

.menu-dd17-data .thead .th {
  background: #012150;
  color: #7892b5;
	font-size: 12px; /* 14px */
	font-weight: 400;
	padding: 7px 1%;
	margin: 5px 0px;
	box-sizing: border-box;
	float: left;
	text-align: left;
	position: relative;
	border-right: #385074 1px solid;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;
}

.menu-dd17-data .thead .th.col_4 {
    width: 25%;
}

.menu-dd17-data .thead .th.col_5 {
    width: 20%;
}

.menu-dd17-data .thead .th.col_6 {
    width: 16.666666666666667%;
}

.menu-dd17-data .thead .th.col_7 {
    width: 14.285714285714286%;
}

.menu-dd17-data .thead .th.col_8 {
    width: 12.5%;
}

.menu-dd17-data .thead .th:last-child {
	border-right: 0px;
}

.menu-dd17-data .thead .th span{
	cursor: pointer;
}

.menu-dd17-data .thead .th .sort {
	padding: 2px 8px 3px;
    border-radius: 2px;
}

.menu-dd17-data .thead .th .sort:hover,
.menu-dd17-data .thead .th[data-sorted-by='1'] .sort {
    background: #33556a;
    transition: all 0.2s ease;
}

.menu-dd17-data .thead .th[data-sorted-by='1'] {
	color: #ffffff;
}

.menu-dd17-data .thead .th a {
	color: #fff;
	text-decoration: none;
}

.menu-dd17-data .thead .th > span::after {
	font-family: FontAwesome;
	color: #7892b5;
	font-size: 14px;
	margin-left: 5px;
	position: relative;
	top: 1px;
}

.menu-dd17-data .thead .th > span:hover::after,
.menu-dd17-data .thead .th > span:hover {
	color: #fff;
	transition: color 0.2s ease;
}

.menu-dd17-data .thead .th[data-sorted-by="0"] > span::after {
	content: "\f0dc";
}

.menu-dd17-data .thead .th[data-sort="asc"][data-sorted-by="1"] > span::after {
	content: "\f0dd";
}
.menu-dd17-data .thead .th[data-sort="desc"][data-sorted-by="1"] > span::after {
	content: "\f0de";
}
.menu-dd17-data .thead .th[data-sorted-by="1"] > span::after {
	color: #fff;
}

.menu-dd17-data .thead .th .filter-by{
	position: absolute;
	top: 6px;
	right: 10px;
	text-align: right;
}

.menu-dd17-data .thead .th .filter-by .filter-by-button{
	width: 24px;
	height: 18px;
	text-align: center;
	line-height: 17px;
	color: #7892b5;
	border-radius: 2px;
	cursor: pointer;
    transition: all 0.2s ease;
}

.menu-dd17-data .thead .th .filter-by .filter-by-button.on .fa-bars {
	color: #ffffff;
}


.menu-dd17-data .thead .th .filter-by .filter-by-button span:before {
	font-family: FontAwesome;
}

.menu-dd17-data .thead .th .filter-by .filter-by-button.on{
	background: #33556a;
	color: #ffffff;
}

.menu-dd17-data .thead .th .filter-by .filter-by-button:hover{
	background: #33556a;
	color: #ffffff;
}

.menu-dd17-data .thead .th .filter-by-box{
	display: none;
	position: absolute;
    left: 0;
    top: 33px;
    background: #ffffff;
    color: #000000;
    text-align: left;
    border-right: #dadada 1px solid;
    border-bottom: #dadada 1px solid;
    border-left: #dadada 1px solid;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0, .25);
    width: 100%;
    z-index: 999;
}

.menu-dd17-data .thead .th .filter-by-box .clear-this-filter{
	position: absolute;
	top: 12px;
	right: 15px;
	color: #33888a;
	font-size: .75em;
	font-weight: 400;
	cursor: pointer;
	padding: 5px;
	border: 2px solid #ffffff;
	border-radius: 12px;
	transition: all 0.2s ease;
}

.menu-dd17-data .thead .th .filter-by-box .clear-this-filter:hover{
    background: #d6e7e8;
	border: 2px solid #33888a;
}

.menu-dd17-data .thead .th .filter-by-box .filter-title{
	padding: 15px 13px 10px 13px;
    border-bottom: #dadada 1px solid;
    font-size: 1.07142857em;
    color: #33888a;
}

.menu-dd17-data .thead .th .filter-by-box .filter-options{
	padding: 5px 0px;
	max-height: 166px;
	overflow-y: auto;
}

.menu-dd17-data .thead .th .filter-by-box .filter-options .filter-option{
	cursor: pointer;
	padding: 3px 33px 3px 10px;
    white-space: nowrap;
    font-size: 1em;
    margin-bottom: 1px;
    font-weight: 400;
}

.menu-dd17-data .thead .th .filter-by-box .filter-options .filter-option:before{
	content: "\f0c8";
	font-family: "FontAwesome";
	margin-right: 5px;
}

.menu-dd17-data .thead .th .filter-by-box .filter-options .filter-option.active:before{
	content: "\f14a";
}

.menu-dd17-data .thead .th .filter-by-box .filter-options .filter-option:hover{
	background: #d6e7e8;
	transition: background 0.2s ease;
}

.menu-dd17-data .thead .th .filter-by-box .filter-options .filter-option i{
	opacity: 0;
	margin-right: 10px;
}

.menu-dd17-data .thead .th .filter-by-box .filter-options .filter-option.active i{
	opacity: 1;
}

.dd-active .menu-dd17-data .tbody {
	background: #ffffff;
    height: -webkit-calc(100vh - 270px);
    height: calc(100vh - 270px);
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.dd-active .subnav-lvl3 + .menu-dd17-data .tbody {
    height: -webkit-calc(100vh - 473px);
    height: calc(100vh - 473px);
}

.menu-dd17-data .tbody .no-results{
	padding: 25px 0px;
	text-align: center;
	font-weight: 900;
    font-size: 1.25em;
}

.menu-dd17-data .tbody .tr {
	display: flex;
	margin: 0px;
	padding: 0px;
	background: #f6f6f6;
	width: 100%;
	cursor: pointer;
	transition: opacity 0.2s ease;
}

.filtering {
	opacity: 0.2;
}

.menu-dd17-data .tbody .tr:hover{
  background: #add5e5;
  transition: background 0.4s ease;
}

.menu-dd17-data .tbody .tr:nth-child(even){
  background: #fff;
}

.menu-dd17-data .tbody .tr:nth-child(even):hover{
  background: #add5e5;
}

.menu-dd17-data .tbody .tr .th {
    display: flex;
    align-items: center;
  	background: #f0f0f0;
	font-size: 12px;
	font-weight: 600;
    padding: 7px 1%;
/*	padding: 1.538461538461538em 01.59846547314578%;  20px/14px | 25px/1564px */
	float: left;
	text-align: left;
/*	box-sizing: border-box;*/
	transition: all 0.4s ease;
}

.menu-dd17-data .tbody .tr .th.col_4 {
	width: 25%
}

.menu-dd17-data .tbody .tr .th.col_5 {
/*	width: 20%;*/
    width: 22.5%;
}

.menu-dd17-data .tbody .tr .th.col_6 {
	width: 17.666666666666667%; /*16.666666666666667%;*/
}

.menu-dd17-data .tbody .tr .th.col_7 {
	width: 14.285714285714286%;
}

.menu-dd17-data .tbody .tr .th.col_8 {
	width: 12.5%;
}

.menu-dd17-data .tbody .tr:hover .th {
  background: #a4ccdc;
	-webkit-box-shadow:inset 7px 0px 0px 0px #012150;
	-moz-box-shadow:inset 7px 0px 0px 0px #012150;
	box-shadow:inset 7px 0px 0px 0px #012150;
}

.menu-dd17-data .tbody .tr:nth-child(even) .th {
  background: #f8f8f8;
}

.menu-dd17-data .tbody .tr:nth-child(even):hover .th {
  background: #a4ccdc;
	-webkit-box-shadow:inset 7px 0px 0px 0px #012150;
	-moz-box-shadow:inset 7px 0px 0px 0px #012150;
	box-shadow:inset 7px 0px 0px 0px #012150;
}

.menu-dd17-data .tbody .td {
    display: flex;
    align-items: center;
	font-size: 12px;
	padding: 1.538461538461538em 01.59846547314578%; /* 20px/13px | 25px/1564px */
	font-weight: 300;
	float: left;
	text-align: left;
	box-sizing: border-box;
}

.menu-dd17-data .tbody .td.col_4 {
	width: 25%;
}

.menu-dd17-data .tbody .td.col_5 {
	width: 20%;
}

.menu-dd17-data .tbody .td.col_6 {
	width: 16.666666666666667%;	
}

.menu-dd17-data .tbody .td.col_7 {
	width: 14.285714285714286%;
}

.menu-dd17-data .tbody .td.col_8 {
	width: 12.5%;
}

.menu-dd17-data .tbody .td a{
	text-decoration: none;
	color: #2331b6;
	font-weight: 600;
}

.menu-dd17-data .tbody .td a:hover{
	text-decoration: underline;
}

.menu-dd17-data .tbody .td a.more:hover{
	text-decoration: none;
}

.menu-dd17-data .tbody .td.compare-col {
	padding: 0px 0px 0px 01.59846547314578%;
}

.menu-dd17-data .tbody .td.compare-col label{
	cursor: pointer;
	padding: 1.538461538461538em 01.59846547314578%; /* 20px/13px | 25px/1564px */
	display: block;
	width: 100%;
	height: 100%;
}

.menu-dd17-data .thead.thead-v2 .th:first-child,
.menu-dd17-data .tbody.tbody-v2 .tr .th {
	width: 15.9846547314578%; /* 250px/1564px */
}

.menu-dd17-data .thead.thead-v2 .th,
.menu-dd17-data .tbody.tbody-v2 .td {
	width: 10.27280477408355%; /* 160.6666666666667px/1564px */
}

/* Table Checkbox
------------------------------------------------- */

.menu-dd17-data .tbody .td input[type=checkbox] {
	display:none; /* Hide Checkbox */
}

.menu-dd17-data .tbody .td input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
	content: "\f096"; /* Unchecked Icon */
	letter-spacing: 10px; /* Space Between Checkbox/Label */
}

.menu-dd17-data .tbody .td input[type=checkbox]:checked + label:before {
	content: "\f046"; /* Checked Icon */
	letter-spacing: 8px; /* Space For Check Mark */
}

/* Compare Buttons
------------------------------------------------- */

.menu-dd17 .compare-buttons {
	position: absolute;
	bottom: -40px;
	right: 20px;
	z-index: 999;
}

.menu-dd17 .compare-buttons a {
	display: inline-block;
	padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
	font-size: 0.8571428571428571em; /* 12px/14px */
	color: rgba(255, 255, 255, .5);
	text-transform: uppercase;
	font-weight: 300;
	transition: color 0.2s ease;
}

.menu-dd17 .compare-buttons a:hover {
    color: rgba(255, 255, 255, 1);
}

/* nav panel
------------------------------------------------- */

.menu-dd17 .panel {
	width: 100%;
	display: none;
	position: absolute;
	z-index: -1;
}

.menu-dd17 .panel.dd-active {
	display: block !important;
	position: static;
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
}

.menu-dd17 .panel .nav-html-row{
	border-top: 2px solid #13446c;
	display: table;
    padding: 14px 0px;
	width: 100%;
}

.menu-dd17 .panel .nav-html-row-title{
	color: #ffffff;
    display: table-cell;
    font-size: 18px;
    vertical-align: middle;
    width: 150px;
}

.menu-dd17 .panel .nav-html-row .container{
	display: flex;
	border-left: 1px solid #13446c;
    padding-left: 30px;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item{
	display: block;
	flex: 1;
    padding-left: 45px;
    position: relative;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item:before{
	content: url("/assets/site_images/arrow-icon.png");
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-47%);
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item a{
    display: block;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item:after{
	content: "";
	display: table;
	clear: both;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item .right{
	text-align: left;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item .right .title{
	color: #ffffff;
	font-size: 14px;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item .right p{
	color: #cccccc;
	font-size: 12px;
	line-height: 16px;
    font-weight: 300;
    padding: 3px 25px 0 0;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item .right .link{
	color: #3698c5;
	font-size: 13px;
	font-weight: 300;
    transition: color 0.2s ease;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item .right .link:hover {
	color: #ffffff;
}

.menu-dd17 .panel .nav-html-row .container .nav-html-row-item .right .link::after{
	content: "\f105";
    font-family: FontAwesome;
    margin-left: 5px;
}


/* Sub Nav Lvl 3
------------------------------------------------- */

.menu-dd17 .subnav-lvl3 {
	list-style: none;
	padding: 0;
	margin: 0 auto;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
}

.menu-dd17 .subnav-lvl3 li {
	flex: 1;
    margin: 0px 0.32916392363397%; /* 5px / 1519px */
}

.menu-dd17 .subnav-lvl3 li:first-child {
	margin-left: 0;
}

.menu-dd17 .subnav-lvl3 li:last-child {
	margin-right: 0;
}

.menu-dd17 .subnav-lvl3 li:last-child {
	border-right: 0px;
}

.menu-dd17 .subnav-lvl3 li a {
	background: #ffffff;
	border: 5px solid #ffffff;
	box-sizing: border-box;
	display: block;
	color: #666666;
	font-size: 20px;
	font-weight: 100;
	height: 125px;
	padding: 5px;
    transition: all 0.2s ease;
	text-align: center;
	width: 100%;
}

.menu-dd17 .subnav-lvl3 li a:hover, .menu-dd17 .subnav-lvl3 li a.dd-active {
	background: #e6faff;
    border: 5px solid #007899;
}

.menu-dd17 .subnav-lvl3 li a img {
	height: 100%
}

.menu-dd17 .subnav-lvl3 li a .subnav-img {
	height: 85px;
}

.menu-dd17 .subnav-lvl3 li a .subnav-title {
	height: 15px;
    padding-bottom: 10px;
}


/* Menu Footer
------------------------------------------------- */

.menu-dd17 .menu-footer {
    height: 50px;
    position: relative;
}

.menu-dd17 a.menu-footer-close {
    color: rgba(255, 255, 255, .5);
	font-size: 1.214285714285714em; /* 17px/14px */
	font-weight: 300;
	margin: 0 auto;
	position: absolute;
	text-transform: uppercase;
    top: 50%;
    transform: translateY(-50%);
    transition: color 0.2s ease;
}

.menu-dd17 a.menu-footer-close:hover {
	color: rgba(255, 255, 255, 1);
}

.menu-dd17 a.menu-footer-close::before {
	content: "\f0aa";
	font-family: FontAwesome;
	margin-right: 0.2941176470588235em; /* 5px/17px */
}

