.tt_sm {
    background-color: #ffffff;
    border: 1px solid #b3b3b3;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    padding: 15px;
    width:300px;
}
.tt_name_sm {
    float: left;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
}
.xmark_sm {
    cursor: pointer;
    float: right;
    line-height: 0;
    margin-left: 5px;
}
.tt_custom_sm {
    line-height: 22px;
}
.tt_subname_sm {
	font-size: 17px;
	color: #00a94f;
}