/* Min Width 1023px
------------------------------------------------- */

@media screen and (min-width: 1023px) {

	.mobile-menu-dd17 {
		display: none;
	}

}

/* Max Width 1023px
------------------------------------------------- */

@media screen and (max-width: 1023px) {
	
	body{
		margin-top: 65px!important;
	}
	
	.index-menu-fade-alt {
		padding: 0 !important;
    height: auto !important;
	}

	.index-summary header {
    display: none !important;
	}

	.vcenter {
		position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
	}

	.mobile-menu-dd17 {
		font-family: 'MyWebfont', sans-serif;
		line-height: 1;
		text-align: left;
		position: fixed;
		top: 0px;
    	width: 100%;
    	z-index: 2;
	}

	.mobile-menu-dd17 * {
		-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
		-moz-box-sizing: border-box;    /* Firefox, other Gecko */
		box-sizing: border-box;
		padding: 0;
		margin: 0;
	}

	.mobile-menu-dd17 * ol, ul {
		list-style: none;
	}

	/* Mobile Header */

	.mobile-header {
		/*background: #002b45;
		padding: 0 15px;
		height: 65px;*/
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		height: 65px;
		width: 100%;
		z-index: 1;
		padding: 0 10px;
	}

	.mobile-header-logo {
		float: left;
	}

	.mobile-header-logo a {
		display: block;
	}

	.mobile-header-btn {
		float: right;
	}

	.mobile-header-btn i {
		color: #fff;
		font-size: 2em; /* 28px/14px */
		cursor: pointer;
	}

	/* Mobile Nav Top Level */

	.mobile-nav-top-level-wrapper {
		background: #002b45;
		overflow: auto;
		display: none;
		position: absolute;
		z-index: 100;
		top: 65px;
	}

	.mobile-nav-top-level {
		/*padding: 0;*/
		list-style: none;
		font-size: 0.8571428571428571em; /* 12px/14px */
		padding: 2.083333333333333em 0 0; /* 25px/12px */
	}

	.mobile-nav-top-level li a {
		padding: 1.25em; /* 15px/12px */
		display: block;
		color: #fff;
		font-weight: 300;
		border-bottom: 1px solid #33556a;
	}

	.mobile-nav-top-level-search {
    padding: 25px 20px;
		display: table;
		width: 100%;
	}

	.mobile-nav-top-level-search .row {
    display: table-row;
	}

	.mobile-nav-top-level-search .col {
    display: table-cell;
    vertical-align: top;
	}

	.mobile-nav-top-level-search .col.full {
    width: 100%;
	}

	.mobile-nav-top-level-search label {
    position: absolute;
    left: -10000px;
    top: auto;
	}

	.mobile-nav-top-level-search input[type="text"] {
		border: none;
		font-size: 0.9285714285714286em; /* 13px/14px */
		height: 40px;
		outline: 0;
		padding: 0 1.153846153846154em; /* 15px/13px */
		width: 100%;
		background: #fff;
		color: #8e8e8e;
		font-family: 'MyWebfont', sans-serif;
		border-radius: 5px 0 0 5px;
	}

	.mobile-nav-top-level-search button[type="submit"] {
		padding: 0 0.7142857142857143em; /* 10px/14px */
		height: 40px;
		color: #33888a;
		background-color: #fff;
		font-size: 1em;
		border-radius: 0 5px 5px 0;
		border: 0;
		margin: 0px;
	}

	/* Mobile Nav Level 2 */

	.mobile-nav-level-2 {
		background: #002b45;
		position: absolute;
		left: -100%;
		top: 65px;
		z-index: 101;
		width: 100%;
		-webkit-transition: left .2s ease;
		-moz-transition: left .2s ease;
		-o-transition: left .2s ease;
		transition: left .2s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-2.open {
		left: 0;
		-webkit-transition: left .5s ease;
		-moz-transition: left .5s ease;
		-o-transition: left .5s ease;
		transition: left .5s ease;
	}

	.mobile-nav-back {
		margin: 0 0 1.818181818181818em 1.363636363636364em; /* 20px/11px | 15px/11px */
		font-size: 0.7857142857142857em; /* 11px/14px */
		color: #fff;
		display: inline-block;
		text-transform: uppercase;
	}

	.mobile-nav-back::before {
		font-family: FontAwesome;
		content: "\f104";
		margin-right: 0.6363636363636364em; /* 7px/11px */
	}

	.mobile-menu-dd17 .subnav li a {
		text-decoration: none;
		text-transform: uppercase;
		color: rgb(255, 255, 255);
		color: rgba(255, 255, 255, 1);
		line-height: 2em; /* 24px/12px */
		font-size: 0.8571428571428571em; /* 12px/14px */
		padding: 1.25em 0 1.25em 1.666666666666667em; /* 15px/12px | 20px/12px */
		display: block;
		border-bottom: 1px solid #33556a;
	}

	.mobile-menu-dd17 .subnav li a span {
		display: block;
		padding-left: 2.916666666666667em; /* 40px/12px */
	}

	.mobile-menu-dd17 .subnav-lasers span {
		background: url('/assets/site_images/icon-lasers.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-lasers:hover span {
		background: url('/assets/site_images/icon-lasers.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-components span {
		background: url('/assets/site_images/icon-components.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-components:hover span {
		background: url('/assets/site_images/icon-components.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-laser-measurement span {
		background: url('/assets/site_images/icon-laser-measurement.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-laser-measurement:hover span {
		background: url('/assets/site_images/icon-laser-measurement.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-tools-systems span {
		background: url('/assets/site_images/icon-tools-systems.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav-tools-systems:hover span {
		background: url('/assets/site_images/icon-tools-systems.png') no-repeat bottom left;
		background-size: 2em; /* 24px/12px */
	}

	.mobile-menu-dd17 .subnav li a:hover {
		color: rgb(255, 255, 255);
		color: rgba(255, 255, 255, 1);
	}

	/* Mobile Nav Level 3 */

	.mobile-nav-level-3 {
		background: #002b45;
		position: absolute;
		left: -100%;
		top: 65px;
		z-index: 103;
		width: 100%;
		-webkit-transition: left .2s ease;
		-moz-transition: left .2s ease;
		-o-transition: left .2s ease;
		transition: left .2s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-3.open {
		left: 0;
		-webkit-transition: left .5s ease;
		-moz-transition: left .5s ease;
		-o-transition: left .5s ease;
		transition: left .5s ease;
	}

	.mobile-menu-dd17-data {
		width: 100%;
	}

	.mobile-menu-dd17-data .thead .tr {
		width: 100%;
	}

	.mobile-menu-dd17-data .thead .th {
	  background: #002b45;
	  color: #fff;
		font-size: 0.8571428571428571em; /* 12px/14px */
		font-weight: 600;
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
		float: left;
		text-align: center;
		width: 25%;
	}

	.mobile-menu-dd17-data .thead .th:first-child {
		width: 60%;
		text-align: left;
	}
	
	.mobile-menu-dd17-data .thead .th.no-compare:first-child {
		width: 85%;
	}

	.mobile-menu-dd17-data .thead .th:last-child {
		width: 15%;
		text-align: center;
	}

	.mobile-menu-dd17-data .thead .th a {
		color: #fff;
		text-decoration: none;
	}

	/*.mobile-menu-dd17-data .thead .th a::after {
		font-family: FontAwesome;
		color: #33888a;
		padding-left: 0.8333333333333333em;
	}

	.mobile-menu-dd17-data .thead .th a[data-sort="desc"]::after {
		content: "\f0d7";
	}

	.mobile-menu-dd17-data .thead .th a[data-sort="asc"]::after {
		content: "\f0d8";
	}*/

	.mobile-menu-dd17-data .tbody {
    overflow-y: scroll;
    width: 100%;
		background: #002b45;
	}

	.mobile-menu-dd17-data .tbody .tr.header {
		background: #002b45;
    color: #fff;
    border-top: 1px solid #33556a;
		cursor: pointer;
		position: relative;
	}

	.mobile-menu-dd17-data .tbody .tr.header .th {
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
	}

	.mobile-menu-dd17-data .tbody .tr.header .th::before {
		font-family: FontAwesome;
		content: "\f055";
		margin-right: 0.8333333333333333em;
		color: #33888a;
		float: left;
	}

	.mobile-menu-dd17-data .tbody .tr.header .th.open::before {
		content: "\f056";
		color: #fff;
	}

	.mobile-menu-dd17-data .tbody .tr.header .th span {
		display: block;
    overflow: hidden;
	}

	.mobile-menu-dd17-data .tbody .tr.header .td {
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
		text-align: center;
	}

	.mobile-menu-dd17-data .tbody .tr {
	  background: #f6f6f6;
		width: 100%;
	}

	.mobile-menu-dd17-data .tbody .tr:nth-child(even) {
	  background: #fff;
	}

	.mobile-menu-dd17-data .tbody .tr .th {
		font-size: 0.8571428571428571em; /* 12px/14px */
		font-weight: 600;
		padding: 0.5833333333333333em 1.25em; /* 7px/12px | 15px/12px */
		width: 60%;
		float: left;
		text-align: left;
	}

	.mobile-menu-dd17-data .tbody .td {
		font-size: 0.8571428571428571em; /* 12px/14px */
		padding: 0.5833333333333333em 1.25em; /* 7px/12px | 15px/12px */
		width: 25%;
		font-weight: 300;
		float: left;
		text-align: left;
	}

	.mobile-menu-dd17-data .tbody .td.arrow-link {
		width: 15%;
		height: 100%;
    position: absolute;
		right: 0;
		background: #33888a;
		padding: 0 !important;
	}

	.mobile-menu-dd17-data .tbody .td.arrow-link a{
		color: #fff;
		display: block;
		height: 100%;
	}

	.mobile-menu-dd17-data .tbody .td input[type=checkbox] {
		display:none; /* Hide Checkbox */
	}
	
	.mobile-menu-dd17-data .tbody .td label{
		cursor: pointer;
	}

	.mobile-menu-dd17-data .tbody .td label span {
    position: absolute;
    left: -10000px;
    top: auto;
	}

	.mobile-menu-dd17-data .tbody .td input[type=checkbox] + label:before {
		font-family: FontAwesome;
		display: inline-block;
		content: "\f096";
		color: #33888a;
	}

	.mobile-menu-dd17-data .tbody .td input[type=checkbox]:checked + label:before {
		content: "\f14a"; /* Checked Icon */
	}

	.js-accordion-panel {
		display: none;
	}

	/* Mobile Nav Level 4 */

	.mobile-nav-level-4 {
		background: #002b45;
		position: absolute;
		left: -100%;
		top: 65px;
		z-index: 104;
		width: 100%;
		-webkit-transition: left .2s ease;
		-moz-transition: left .2s ease;
		-o-transition: left .2s ease;
		transition: left .2s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-4.open {
		left: 0;
		-webkit-transition: left .5s ease;
		-moz-transition: left .5s ease;
		-o-transition: left .5s ease;
		transition: left .5s ease;
	}

	.mobile-nav-level-4-sub-nav {
		background: #fff;
	}

	.mobile-nav-level-4-sub-nav li {
		border-bottom: 1px solid #d7d7d7;
	}

	.mobile-nav-level-4-sub-nav li a {
		display: block;
	}

	.mobile-nav-level-4-sub-nav li a img {
		display: inline-block;
    vertical-align: middle;
    max-width: 130px;
	}

	.mobile-nav-level-4-sub-nav li a span {
		display: inline-block;
    font-size: 0.8571428571428571em; /* 12px/14px */
    font-weight: 600;
    color: #000;
    vertical-align: middle;
	}

	/* Mobile Nav Level 5 */

	.mobile-nav-level-5 {
		background: #002b45;
		position: absolute;
		left: -100%;
		top: 65px;
		z-index: 105;
		width: 100%;
		-webkit-transition: left .2s ease;
		-moz-transition: left .2s ease;
		-o-transition: left .2s ease;
		transition: left .2s ease;
		/*box-shadow: 5px 0px 5px -3px rgba(0, 0, 0, .5);*/
	}

	.mobile-nav-level-5.open {
		left: 0;
		-webkit-transition: left .5s ease;
		-moz-transition: left .5s ease;
		-o-transition: left .5s ease;
		transition: left .5s ease;
	}

	.mobile-menu-dd17-data .thead.thead-v2 .th {
		width: 100%;
    text-align: left;
	}

	.mobile-menu-dd17-data .tbody.tbody-v2 .tr.header .th {
		width: 100%;
	}

		/* Menu Footer
	------------------------------------------------- */

	.menu-footer {
		background: #002b45;
	}

	/* Compare Buttons */

	.mobile-menu-dd17 .compare-buttons {
		float: right;
		margin: 7px 7px 7px 0;
	}

	.mobile-menu-dd17 .compare-buttons a {
		display: inline-block;
		padding: 0.8333333333333333em 1.25em; /* 10px/12px | 15px/12px */
		font-size: 0.8571428571428571em; /* 12px/14px */
		color: #fff;
		text-transform: uppercase;
		font-weight: 300;
	}

	.mobile-menu-dd17 .compare-buttons a:hover {
		-webkit-box-shadow:inset 0px 0px 0px 2px #4d6b7d;
		-moz-box-shadow:inset 0px 0px 0px 2px #4d6b7d;
		box-shadow:inset 0px 0px 0px 2px #4d6b7d;
	}
	
	.mobile-menu-dd17 .compare-buttons a.disabled {
		opacity: .25;
		cursor: default;
	}
	
	.mobile-menu-dd17 .compare-buttons a.disabled:hover {
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
	}

		/* Headroom
	------------------------------------------------- */

	.headroom--pinned {
		transform: translateY(0);
		background: #002b45;
	}

	.headroom {
		transition: all .5s ease-in-out;
		will-change: transform;
	}

	.headroom--unpinned {
		transform: translateY(-100%);
		background: rgb(255, 255, 255); /* The Fallback */
		background: rgba(255, 255, 255, 0);
	}

	.headroom--top {
		background:  #002b45;
	}

	.header-bg-color.headroom--top {
		background: #002b45;
	}

	.headroom--not-top {
		background: #002b45;
	}

	.headroom-open {
		position: relative;
		background: #002b45;
	}

}