@media (max-width: 1150px) {
	.nivo-caption span:nth-of-type(1) {
		font-size:42px !important;
	}
	.nivo-caption span:nth-of-type(2) {
		font-size:22px !important;
	}
	.theme-default .nivo-controlNav {
		padding:40px !important;
	}

}
@media (max-width: 1050px) {
	header nav {
		width:75%;
	}
}
@media (max-width: 1000px) {
	.wrapper {
		width:auto;
	}
	.header-cont {
		height:200px;
		padding-bottom:25px;
    	background-position: center;
	}
	header {
		padding:0;
	}
	.index-menu-fade-alt {
		height:100px;
	}
	.index-summary header {
		z-index:999;
	}
	.index-summary .logo {
		z-index:9999;
	}
	nav {
		position: relative;
	    bottom: 0;
	    /* width: 100%; */
	    float: none;
	    margin: 0 auto;
	}
	.logo {
		position: static;
    	float: none;
    	margin: 10px auto 0 auto;
	}
	.header-language-cont {
	    /* width: 60%; */
	    float: none;
	    margin: 0 auto;
	    text-align: center;
	}
	.header-top-addition {
		margin:10px 0 0 0;
		float:none;
		width:auto;
	}
	.flag {
		float: none;
    	display: inline-block;
    	vertical-align: top;
	}
	.index-summary-question {
		float:none;
	}
	.header-cont .summary {
		display:none;
	}
	.application-sear-bar, .breadcrumb {
		display:none;
	}
	.applications-main-menu, .laser-main-menu {
		width:500px;
		margin:0 auto;
	}
	.laser-main-menu { 
		margin-top:20px;
	}
	.applications-header {
		margin-top:0;
	}
	.applications-main-contnet .image {
		width:100%;
		text-align:center;
	}
	.applications-main-contnet .summary {
		text-align:center;
		float:none;
		width:80%;
		margin:0 auto;
	}
	.application-contact button {
		margin:10px auto;
	}
	.applications-main-contnet .image img {
		max-width:50%;
		height:auto;
	}
	.applications-main-contnet .left {
		margin:0;
		padding:0 10%;
		display:block;
		width:80%;
		position:relative;
		top:20px;
		text-align:center;
	}
	.applications-main-contnet .results {
		margin:0;
		padding:0 10%;
		display:block;
		width:80%;
		text-align:center;
		padding-top:40px;
	}
	.applications-main-contnet .left form {
		text-align:left;
	}
	.main-page-menu {
		width:80%;
		padding:0 10%;
		border:none;
	}
	.main-page-menu ul {
		padding:0;
	}
	.main-page-menu li {
		display:block;
		list-style-type: none;
		text-align:center;
		padding:0;
		border-top:solid 1px #c0c0c0;
		margin-right:0;
	}
	.main-page-menu li:last-child {
		border-bottom:solid 1px #c0c0c0;
		margin-right:0;
	}
	.main-page-menu li:hover {
		padding:0;
	}
	.main-page-menu li a {
		color: #1b84c5;
		padding: 9px 19px;
		display:block;
	}
	.main-page-menu .selected, .main-page-menu .selected:hover {
		padding:0;
		border:none;
		border-top:solid 1px #c0c0c0;
	}
	.content-container {
		padding:13px 0 0 0;
	}
	.content-container .section-title {
		padding-top:0;
	}
	.content-container .left {
		margin:0;
		padding:0 10%;
		display:block;
		width:80%;
	}
	.content-container .right {
		width:80%;
		padding:0 10%;
	}
	.content-container .left .support-menu-cont {
		text-align:center;
	}
	.content-container .left .company-sidebar {
		width:60%;
		margin:23px auto 0 auto;
	}
	.product-image-cont, .product-info {
		width:80%;
		margin:0 auto;
		display:block;
	}
	.product-image-cont {
		max-width:400px;
	}
	.product-info {
		text-align:center;
	}
	.product-info ul {
		text-align:left;
	}
	.product-summary {
		text-align:left;
	}
	.product-contact-button {
		float:none;
		width:80%;
		margin:20px auto;
	}
	.related-product-button {
		float:none;
		width:80%;
		margin:0 auto;
		padding:25px;
		margin-bottom:20px;
	}
	.price-cont {
		float:none;
		width:100px;
		margin:0 auto;
	}
	.app-family-box {
		text-align:center;
	}
	.app-family-box .display {
		float:none;
		display: inline-block;
	    vertical-align: top;
	    width: 200px;
	}
	.index-product-search-cont, .index-application-search-cont, .index-support-search-cont {
		display:block;
		float:none;
		margin:0 auto;
		width: 500px;
		max-width:100%;
	}
	.index-center-cont .products-solutions-cont, .index-center-cont .applications-solutions-cont {
		width:100%;
		display:block;
		margin:0 auto;
	}
	.index-center-cont .products-solutions-cont .laser-menu-box, .index-center-cont .applications-solutions-cont .application-menu-box {
		font-size:0.7em;
	}

	.index-center-cont .applications-solutions-cont .application-menu-box .menu-image {
		width:125px;
	}
	.index-center-cont .applications-solutions-cont .applications-main-menu {
		height:auto;
		width:auto;
	}
	.index-center-cont .applications-solutions-cont .application-menu-box .menu-title {
		top:40px;
	}
	
	.slider-wrapper {
		/*display:none;*/
	}
	.discover-box {
		float:none;
		width:80%;
		min-height:1px;
		margin:0 auto;
		color:#ffffff;
		background-color:#0076bf;
		border:solid 1px #ffffff;
		padding:20px 0;
	}
	.discover-box .image {
		display:none;
	}
	.discover-box .title {
		color:#ffffff;
	}
	.discover-box .link {
		display:none;
	}
	.contact-summary, #contact_form {
		width:90%;
	}
	.contact-cont {
		width:100%;
	}
	.contact-cont, .contact-form, .contact-form-left, .contact-title, .contact-form-right, .contact-sub-title {
		padding:0;
		padding-bottom:0;
	}
	.contact-form {
		padding:10px 0;
	}
	.contact-form-left {
		width:45%;
		padding-left:5%;
	}
	.contact-form-right {
		width:45%;
		padding-right:5%;
		text-align:right;
	}
	.resource-nav {
		width:25%;
	}
	.share-nav {
		width:64%;
	}
	.resource-nav li {
		display:list-item;
	}
	.footer-legal-menu {
		width:100%;
		padding-top: 20px;
	    border: solid 0px;
	    border-top: solid 1px #999999;
	    width: 90%;
	    margin: 0 auto;
	    padding-left: 0;
	    display: block;
	    margin-top:20px;

	}
	.footer-legal-menu li {
		display:block;
		border:none;
		padding:5px 0;
		text-align:center;
		font-size:14px;
	}
	.copywrite {
		width:100%;
		text-align:center;
	}

}
@media (max-width:950px) {
	.nivo-caption span:nth-of-type(1) {
		position:relative;
		top:20px;
	}
	.nivo-caption span:nth-of-type(2) {
		display:none;
	}
}
@media (max-width:850px) {
	.nivo-caption button {
		margin-top:10px;
	}

}
@media (max-width:769px) {
	.index-menu-fade-alt {
		position:static;
		background: lightblue;
    	height: 80px
	}
	.index-summary-question {
		display:none !important;
	}
	.index-summary .index-summary-question {
		display:inline-block !important;
	}
	.modal.in .modal-dialog {
		max-width:95%;
		margin:30px 2.5% 0 2.5%;
	}
	#menu-btn {
	    position: absolute;
	    top: 0;
	    left: 0;
	    z-index: 5;
	    height: 80px;
	    width: 80px;
	    transition: all 1.0s linear;
	}
	#menu-btn #menu-btn-line {
	    display: block;
	    height: 4px;
	    background-color: #000000;
	    position: relative;
	    top: 39px;
	    width: 45%;
	    margin: 0 auto;
	    transition: all 1.0s linear;
	}
	#menu-btn #menu-btn-line:before {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 4px;
	    background-color: #000000;
	    position: absolute;
	    top: -8px;
	    transition: all 0.5s ease;
	}
	#menu-btn #menu-btn-line:after {
	    content: "";
	    display: block;
	    width: 100%;
	    height: 4px;
	    background-color: #000000;
	    position: absolute;
	    top: 8px;
	    transition: all 0.5s ease;
	}
	.slider-container {
		display:none;
	}
	.title-cont {
		text-align:center;
		padding:0;
		width:100%;
	}
	.title-cont p {
		display:none;
	}
	.title-cont .close {
		width: auto;
    	padding: 5px;
    	margin: 0 auto;
	}
	.index-center-cont .applications-solutions-cont .application-menu-box {
		width:100%;
	}
	.index-center-cont .applications-solutions-cont .application-menu-box .menu-title {
		top:50%;
	}
	.index-center-cont .applications-solutions-cont .application-menu-box .menu-image {
		width:100%;
		background:#0076bf;
		height:50px;
	}
	.applications-main-menu {
		
	}
	.laser-main-menu .application-menu-box .menu-image img {
		display:none;
	}
	.support-search-box {
		display:none !important;
	}
	.support-search-box-alt {
		display:block !important;
	}
	.index-center-cont .products-solutions-cont .laser-main-menu, .index-center-cont .applications-solutions-cont .laser-main-menu {
		position:static;
	}		
	.service-doc-cont {
		width:100%;
	}
	.support-cont .left {
		width:90%;
		margin:0 5%;
	}
	.support-cont .right {
		width:90%;
		padding:0 5%;
	}
	.support-cont table  {
		display:none;
	}
	.support-cont .service-plus-cont .left, .support-cont .service-plus-cont .right {
		width: auto;
    	margin: 0 5%;
    	float: none;
	}
	.related-products-cont .section-title {
		text-align:center;
	}
	.features-cont {
		width:90%;
		margin:0 5%;
	}
	.contact-form-left {
		width:100%;
	}
	.contact-form-right {
		display:none;
	}

}
@media (max-width: 800px) {
	.applications-material .service-doc-cont {
		width:100%;
		display:block;
		padding:15px 0;
	}
	.service-document-title {
		padding:23px 0 0 0;
	}
	.service-doc-cont .support-doc-box {
		float:none;
		width:300px;
		height:auto;
		margin:0 auto;
		padding:0;
	}
	.service-doc-cont {

	}


}
@media (max-width: 500px) {
		.header-top-addition {
	    margin: 20px auto;
	    float: none;

	}
		.logo {
		top: 20px;
	    left: calc(50% - 90px);
	    max-width: none;
	    margin: 0 auto;
	    padding-top: 10px;
	    float: none;
	    position: static;
	} 

	.applications-main-menu, .laser-main-menu {
		width:250px;
	}
	.related-products-cont .section-title {
		font-size:18px;
	}
	.results-row .box {
		width:45%;
		padding:0 0 35px 0;
	}
	.family-releated-material .related-cont-box {
		width:49%;
	}
	.index-center-cont .products-solutions-cont .laser-menu-box {
		width:80%;
		padding:0 10%;
		top:10px;
		height:40px;
	}
	.index-center-cont .products-solutions-cont .laser-main-menu {
		width:100%;
		padding:0;
	}
	.index-center-cont .products-solutions-cont .laser-menu-box .menu-image {
		height:40px;
	}
	.laser-menu-box .menu-image .menu-title {
		top:10px;
	}
}

/* Special Nav Rules*/
@media (max-width: 975px) {
	header nav {
    	width: 78%;
    }
}
@media (max-width: 940px) {
	header nav {
    	width: 81%;
    }
}
@media (max-width: 905px) {
	header nav {
    	width: 84%;
    }
}
@media (max-width: 870px) {
	header nav {
    	width: 87%;
    }
}
@media (max-width: 845px) {
	header nav {
    	width: 90%;
    }
}
@media (max-width: 815px) {
	header nav {
    	width: 93%;
    }
}
@media (max-width: 790px) {
	header nav {
    	width: 96%;
    }
}
@media (max-width: 769px) {
	header nav {
		display:none;
    	background: white;
    	border: solid 1px;
	    /* height: auto; */
	    height: 280px;
	    max-height: none;
	    position: absolute;
	    top: 60px;
	    width: 100%;
	    z-index: 999999999999999999999;
	    text-align:center;
    }
    header nav ul {
    	padding:0;
    }
    header nav ul li {
    	width: 100%;
   	 	z-index: 999999999999;
   	 	margin:0;
   		height: 30px;
   		padding:18px 0;
   		line-height: 1.8em;
   		border-bottom: solid 1px;
    }
    header nav ul li:last-child {
    	border-bottom:none;
    }
    header nav ul + ul {
    	display:none;
    }
}